.button{
    -fx-background-color: #BD93F9;
    -fx-text-fill: #F8F8F2;
    -fx-font-family: "Calibri";
    -fx-font-size: 14;    
}

.button:hover{ 
    -fx-cursor:hand;
}

.dialog-pane{
    -fx-border-color:#282a36;
}
  
.dialog-pane > .content.label {
    -fx-padding: 0.5em 0.5em 0.5em 0.5em;
    -fx-background-color: #282a36;
    -fx-text-fill: #F8F8F2;
    -fx-font-family: "Calibri";
    -fx-alignment: center ;
    -fx-font-size: 15; 
}
  
  /**Costumization of DialogPane Header**/
.dialog-pane:header .header-panel {
    -fx-background-color: #282a36;
 }
  
.dialog-pane:header .header-panel .label{
    -fx-background-color: #282a36;
    -fx-background-radius:10px;
    -fx-text-fill: #F1FA8C;
    -fx-font-family: "Calibri";
    -fx-font-size: 20; 
}

.dialog-pane > .button-bar > .container {
    -fx-background-color:#44475a;
}
