.list-view {
        -fx-background-color: #44475A;
	-fx-background-radius: 10;
	-fx-text-fill: #F8F8F2;
}

.list-view .list-cell:filled{
        -fx-background-color: #44475A;
        -fx-background-radius: 10;
        -fx-text-fill: #F8F8F2;
}

.list-view .list-cell:empty {
        -fx-background-color: #44475A;
        -fx-background-radius: 10;
}

.list-view .list-cell:selected {
        -fx-background-color:  #ffb86c;
        -fx-text-fill: black;
}

.text-area {
    -fx-text-fill: #F8F8F2;
    -fx-control-inner-background: #44475a;
    -fx-background-color: #282a36;
    -fx-background-radius: 10;
    -fx-prompt-text-fill: #bbbbbb;

}

.text-area .content {
    -fx-background-color: #44475A;
    -fx-background-radius: 10
}
.text-area .scroll-pane {
    -fx-background-color: transparent;
}
.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}

.text-field {
    -fx-background-color: #44475A;
    -fx-text-fill: #F8F8F2;
    -fx-prompt-text-fill: #bbbbbb;
}

.button{
     -fx-background-color: #BD93F9;
     -fx-text-fill: #F8F8F2;
     -fx-font-family: "Calibri";
     -fx-font-size: 12;
}